nav {
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-top: 2rem;

    a {
        display: inline-block;
        padding: 0 1rem;
        border-left: 1px solid var(--color-border);

        &:first-of-type {
            border: 0;
        }
    }

    a.router-link-exact-active {
        color: var(--color-text);

        &:hover {
            background-color: transparent;
        }
    }
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

.text-green {
    color: forestgreen;
}

.text-red {
    color: firebrick
}

.align-right {
    text-align: right;
}

.big-price {
    font-size: 3em;
    font-weight: bold;
}